[Unit]
Description=MinIO
Documentation=https://docs.min.io
Wants=network-online.target
After=network-online.target
AssertFileIsExecutable=__FINALPATH__/minio

[Service]
WorkingDirectory=__FINALPATH__/

User=__APP__
Group=__APP__
ProtectProc=invisible
ExecStart=__FINALPATH__/minio server --address=127.0.0.1:__PORT__ --console-address=127.0.0.1:__CONSOLEPORT__ --certs-dir=/etc/yunohost/certs/__DOMAIN__ __DATADIR__
Environment="MINIO_SERVER_URL=https://__DOMAIN__"
Environment="MINIO_BROWSER_REDIRECT_URL=https://__CONSOLEDOMAIN__"
Environment="MINIO_ROOT_USER=__ADMIN__"
Environment="MINIO_ROOT_PASSWORD=__PASSWORD__"

# Let systemd restart this service always
Restart=always

# Specifies the maximum file descriptor number that can be opened by this process
LimitNOFILE=1048576

# Specifies the maximum number of threads this process can create
TasksMax=infinity

# Disable timeout logic and wait until process is stopped
TimeoutStopSec=infinity
SendSIGKILL=no

[Install]
WantedBy=multi-user.target